@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.my-image{
    width: 300px;
}

.styling{
    padding-left: 10px;
    margin-bottom: 5px;
}

button{
    background-color: rgb(12, 12, 12);
    padding: 10px 10px;
    color: rgb(238, 232, 232);
    border: 2px solid black;
    margin-top: 10px;
    font-size: 15px;
}

ul>li{
    list-style-type: none;
}



.Counter {
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    max-width: max-content;
    margin-top: 1rem;
    flex-wrap: wrap;
}