*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

.my-image{
    width: 300px;
}

.todo, .styling{
    padding-left: 10px;
    margin-bottom: 5px;
}

button{
    background-color: rgb(113, 113, 188);
    padding: 15px 30px;
    color: white;
    border: none;
    margin-top: 10px;
}

ul>li{
    list-style-type: none;
}

